<h1>編輯課程</h1>

<%= render 'form', course: @course %>

<%= link_to '回到完整課程資訊', admin_course_path, class: "btn btn-outline-info mt-2" %> |
<%= link_to '回到課程列表', admin_root_path, class: "btn btn-outline-info  mt-2" %>
